<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog!</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around ">
    <header class="display-flex justify-space-between align-center p-2 nav homecolor">
      <h1>
        <ul class="navbr">
          <li><a style="color:#B3C9B3" href="/">Home</a></li>
         <li> {{#if logged_in}}
        <li><a style="color:#B3C9B3" href="/profile">DashBoard</a> </li>
        <li><button style="color:#B3C9B3" class="no-button" id="logout">logout</button></li>
        {{else}}
       <li> <a style="color:#B3C9B3" href="/login">login</a></li>
        {{/if}}</li>
        </ul>
         <p id="title">The Tech Blog</p>
      </h1>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  
</body>

</html>
