header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
.navbr{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
 
}
li{
  float: left;
  margin: 10px;
  margin-right: 20px;
  color:#B3C9B3 ;

}
#title{
  font-size: 45px;
  color: #230903;
  background-color: #B3C9B3;
  border-radius: 5px;
  text-align: center;
  box-shadow: 8px 8px #9EA99E;
}
body{
  background-color:#B3C9B3 ;
}
.homecolor{
  background-color: #230903;
}
.commenthead{
  background-color: #230903;
  display: block;
  
}
.blogposts{
  border: solid black 3px;
  width: 80vw;
}
.projectview{
  background-color: #230903;
  color: #9EA99E;
  display: block;
  
}
.prjdiv{
  border: solid 3px #230903;
}
.projdesc{
  text-align: center;
}
.test{
  margin-left: 18vw;
  margin-top: 10px;
 
}
.testtwo{
  width: 65vw;
}